@charset "utf-8";
@import "normalize";

body {
  text-align: center;
  font-family: "Open Sans", "Meiryo", "メイリオ", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

ul,li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

main {
  height: 80vh;

  ul, li {
    height: 100%;
  }

  ul div {
    height: 100%;
  }

  img {
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
}


footer.footer__main {
  background-color: #d83c2b;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  color: #fff;
  height: 15vh;

  .footer__content {
    width: 50%;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;

    &:nth-child(1) {
      border-right: 3px solid #fff;
    }

    &:nth-child(2) {
      border-left: 3px solid #fff;
    }

    span {
      width: 20%;
      font-size: 3rem;
    }

    ul {
      flex: 1;

      li {
        width: 50%;
        float: left;
        padding: 10px;
      }

      strong {
        font-size: 1.5rem;
        font-weight: 800;
      }
    }

    &.right {
      ul {
        li {
          width: 100%;  
        }
      }
    }
  }
}

.footer__content--center {
  height: 5vh;
  background-color: #d83c2b;
  line-height: 5vh;
  text-align: center;
  border-top: 3px solid #fff;
  font-size: 1.35rem;
  color: #fff;
  font-weight: bold;

  p {
    margin: 0;
  }
}
