%footer
  .footer__content.left
    %span ◀
    %ul
      %li
        %strong>< VR
        コース
      %li
        %strong>< iOS
        コース
      %li
        %strong>< イナズマ
        コース
      %li
        %strong>< VR
        コース

  .footer__content.right
    %ul
      %li
        %strong>< Webアプリケーション1ヶ月・2ヶ月
        コース
      %li
        %strong>< 企業研修
        コース
    %span ▶
