%footer.footer__main
  .footer__content.left
    %span
      %i.fa.fa-arrow-left><
    %ul
      %li
        %strong>< VR

  .footer__content.right
    %ul
      %li
        %strong>< Web1ヶ月
      %li
        %strong>< 企業研修
      %li
        %strong>< イナズマ
    %span
      %i.fa.fa-arrow-right><
%footer.footer__content--center
  %p
    説明会・体験会はこちらです
    %i.fa.fa-arrow-right><
